* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
  font-style: italic;
}
html,
body {
  min-width: 280px;
}
.center {
  max-width: 1200px;
  margin: 0px auto;
  width: 100%;
  padding: 0 10px;
  /* border: 1px solid; */
}

.btn {
  padding: 10px 25px;
  background-color: #eb2d2d;
  color: white;
  font-size: 20px;
  border-bottom: 5px solid #b21e1e;
  margin-top: 20px;
  width: 150px;
  text-align: center;
  cursor: pointer;
}

header {
  display: flex;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 30px 10px;
  align-items: center;
  height: 130px;
}

header nav img.btn-menu {
  display: none;
  cursor: pointer;
}

header nav img.logo {
  height: 70px;
}

nav div.right ul {
  display: flex;
}

nav div.right ul li {
  padding: 0 20px;
  list-style: none;
}

nav div.right ul li a {
  text-decoration: none;
  text-transform: capitalize;
  font-size: 24px;
  color: black;
}

nav div.right ul li a.corrente {
  color: red;
}

/***** BANNER *****/
.banner {
  width: 100%;
  height: 500px;
  background-color: black;
}

.bg {
  height: 100%;
  background-image: url("../images/bg.jpg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}

.banner-container {
  /* border: 2px solid yellow; */
  width: 100%;
  height: 100%;
}

/***** BARRAS ****/
.barras {
  margin-left: 30px;
  padding-top: 80px;
}

.bar {
  /* border: 1px solid blue; */
  width: fit-content;
  display: flex;
  margin-bottom: 20px;
  color: white;
}
.bar:nth-of-type(1) {
  padding-left: calc(10px * 3);
}
.bar:nth-of-type(2) {
  padding-left: calc(10px * 2);
}
.bar:nth-of-type(3) {
  padding-left: calc(10px * 1);
}
.bar:nth-of-type(4) {
  padding-left: calc(10px * 0);
  color: black;
}
.bar:nth-of-type(1) .bar-bg {
  width: calc(150px + (30px * 3));
}
.bar:nth-of-type(2) .bar-bg {
  width: calc(150px + (30px * 2));
}
.bar:nth-of-type(3) .bar-bg {
  width: calc(150px + (30px * 1));
}
.bar:nth-of-type(4) .bar-bg {
  width: calc(150px + (30px * 3));
}

.bar-bg > div {
  width: 105%;
  height: 52px;
  background-color: #eb2d2d;
  background-position: center;
  margin-top: 3px;
  position: relative;
  left: -6px;
  /* para os textos */
  display: flex;
  align-items: center;
  padding-left: 20px;
  font-size: 23px;
}

.white-bar > div {
  background-color: white;
}

/***** DESTAQUE ****/
section.destaque {
  display: flex;
  flex-direction: column;
}

section.destaque .title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  margin: 30px 0;
}

section.destaque .title .line {
  height: 2px;
  width: 100%;
  background-color: black;
}

section.destaque .title h2 {
  position: absolute;
  padding: 10px 40px;
  background-color: white;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 400;
  font-style: italic;
}

section.destaque .group-car {
  display: flex;
  margin-bottom: 50px;
  justify-content: space-between;
}

section.destaque .group-car .car {
  flex-direction: column;
  width: 32%;
}

section.destaque .group-car .car img {
  width: 100%;
}

section.destaque .group-car .car h6 {
  font-size: 20px;
  margin: 5px 0;
}

section.destaque .group-car .car p {
  color: #353535;
}

/* *****SERVICOS E DEPOIMENTOS ******/
.serv-depo {
  color: white;
  display: flex;
  justify-content: center;
  /* height: 380px; */
}
.servicos,
.depoimentos {
  padding-top: 90px;
  padding-bottom: 50px;
  width: 50%;
}
.servicos {
  background-color: #242424;
}
.serv-container {
  /* border: 1px solid white; */
  width: 425px;
  margin: 0 auto;
}
.serv-container a {
  float: right;
  position: relative;
  top: -75px;
}
.serv-container h2 {
  font-weight: normal;
  font-style: italic;
  font-size: 32px;
  margin-left: 16px;
  margin-bottom: 20px;
}
.serv-container li {
  font-style: normal;
}
.depoimentos {
  background-color: #eb2d2d;
}
.depo-container {
  /* border: 1px solid white; */
  width: 74%;
  margin: 0 auto;
}
.depo-container h2 {
  font-weight: normal;
  font-style: italic;
  font-size: 32px;
  margin-bottom: 20px;
}

.depo {
  display: none;
  flex-direction: column;
}
.depo:first-of-type {
  display: flex;
}
.depo p {
  font-style: normal;
  font-size: 22px;
}
.depo .autor {
  color: #242424;
  align-self: flex-end;
  margin-top: 25px;
}
.setas {
  position: relative;
  top: -30px;
}
.setas img {
  padding: 0 15px;
  cursor: pointer;
}

/***** CONTATO ****/

section.contato {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section.contato .title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  margin: 30px 0;
}

section.contato .title .line {
  height: 2px;
  width: 100%;
  background-color: black;
}

section.contato .title h2 {
  position: absolute;
  padding: 10px 40px;
  background-color: white;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 400;
  font-style: italic;
}

section.contato form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0 20px;
  flex-wrap: wrap;
  width: 575px;
  min-width: 50%;
}

section.contato form input[type="tel"],
section.contato form input[type="email"] {
  width: 48%;
  margin: 30px 0;
}

section.contato form input[type="email"] {
  margin-right: 23px;
}

section.contato form input[type="text"],
section.contato form textarea {
  width: 100%;
}

section.contato form input,
section.contato form textarea {
  border: 1px solid #ccc;
  font-size: 18px;
  padding: 15px 10px;
  font-style: normal;
}

section.contato form textarea {
  height: 180px;
  resize: none;
}

/***** FOOTER ******/
footer {
  background-color: #252525;
}

footer nav.center {
  display: flex;
  height: 130px;
}

footer nav.center .left ul {
  display: flex;
  padding: 0;
}

footer nav.center .left ul li {
  margin-right: 60px;
  list-style-type: none;
}

footer nav.center .left ul li a {
  text-decoration: none;
  text-transform: capitalize;
  font-size: 20px;
  color: white;
}

footer nav.center .left ul li a.corrente {
  color: red;
}

footer nav.center h2 {
  font-size: 20px;
  color: white;
}

/***** MEDIA SCREEN <= 950px ******/
@media screen and (max-width: 950px) {
  /* MEDIA SCREEN -> SERVICOS */
  .serv-container {
    display: flex;
    flex-direction: column;
    width: 90%;
  }
  .serv-container a {
    float: none;
    position: static;
    align-self: center;
  }
}

/***** MEDIA SCREEN <= 850px ******/
@media screen and (max-width: 850px) {
  /* MEDIA SCREEN -> BANNER */
  .bg {
    background-position: bottom;
  }
}

/***** MEDIA SCREEN <= 760px ******/
@media screen and (max-width: 760px) {
  /* MEDIA SCREEN -> SERVICOS/DEPOIMENTOS*/
  .serv-depo {
    flex-direction: column;
    /* height: 380px; */
  }
  .servicos,
  .depoimentos {
    width: 100%;
  }

  /* MEDIA SCREEN -> CONTATO*/
  section.contato form {
    width: 100%;
  }

  section.contato form input[type="tel"],
  section.contato form input[type="email"] {
    width: 100%;
  }

  section.contato form textarea,
  section.contato form input[type="text"],
  section.contato form input[type="email"],
  section.contato form input[type="tel"] {
    margin: 10px 0;
  }

  /* MEDIA SCREEN -> FOOTER*/
  footer nav.center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  footer nav.center .left ul {
    display: none;
  }
}

/***** MEDIA SCREEN <= 600px ******/
@media screen and (max-width: 600px) {
  /* MEDIA SCREEN -> HEADER */
  header nav img.logo {
    height: 70px;
  }

  header nav img.btn-menu {
    display: flex;
    position: absolute;
    top: 45px;
    right: 20px;
    width: 35px;
    height: 35px;
  }

  header nav div.right ul {
    display: flex;
    background-color: white;
    position: absolute;
    right: 0px;
    flex-direction: column;
    width: 100%;
    z-index: 3;
    margin-top: 65px;
    padding: 10px 0;
    background-color: orange;
  }

  header nav div.right ul li {
    text-align: center;
    padding: 7px 0;
  }

  header nav div.right ul li a {
    font-size: 20px;
  }

  /* MEDIA SCREEN -> CONTATO*/
  section.contato form {
    width: 100%;
  }

  section.destaque .title {
    margin: 50px 0 0;
  }

  section.destaque .group-car {
    flex-direction: column;
    align-items: center;
  }

  section.destaque .group-car .car {
    width: 100%;
    margin-top: 30px;
    padding: 10px;
    text-align: center;
  }
}

/***** MEDIA SCREEN <= 400px ******/
@media screen and (max-width: 400px) {
  /***** BAR ****/
  .barras {
    margin-left: 0px;
    /* padding-top: 80px; */
  }
  /* .bar {
    width: fit-content;
    display: flex;
    margin-bottom: 20px;
    color: white;
  } */

  /* MEDIA SCREEN -> SETAS */
  .setas img {
    padding: 0 10px;
  }

  .bar:nth-of-type(1) {
    padding-left: calc(5px * 3);
  }
  .bar:nth-of-type(2) {
    padding-left: calc(5px * 2);
  }
  .bar:nth-of-type(3) {
    padding-left: calc(5px * 1);
  }
  .bar:nth-of-type(4) {
    padding-left: calc(5px * 0);
    color: black;
  }
  .bar:nth-of-type(1) .bar-bg {
    width: calc(100px + (30px * 3));
  }
  .bar:nth-of-type(2) .bar-bg {
    width: calc(100px + (30px * 2));
  }
  .bar:nth-of-type(3) .bar-bg {
    width: calc(100px + (30px * 1));
  }
  .bar:nth-of-type(4) .bar-bg {
    width: calc(100px + (30px * 3));
  }

  .bar-bg > div {
    margin-top: 3px;
    /* para os textos */
    padding-left: 10px;
    font-size: 20px;
  }
}
