* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}

.center {
  max-width: 1200px;
  margin: 0px auto;
  width: 100%;
}

header {
  display: flex;
  border-bottom: 3px solid red;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 30px 10px;
  align-items: center;
  height: 130px;
}

header nav img.btn-menu {
  display: none;
  cursor: pointer;
}

header nav img.logo {
  height: 70px;
}

nav div.right ul {
  display: flex;
}

nav div.right ul li {
  padding: 0 20px;
  list-style: none;
}

nav div.right ul li a {
  text-decoration: none;
  text-transform: capitalize;
  font-size: 24px;
  color: black;
}

nav div.right ul li a.corrente {
  color: red;
}

/***** SOBRE TITLE ****/
main.sobre {
  width: 100%;
  display: flex;
  flex-direction: column;
	justify-content: center;
	padding: 0 20px;
}

main.sobre .title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  margin: 30px 0;
  /* border: 1px solid red; */
}

main.sobre .title .line {
  height: 2px;
  width: 100%;
  background-color: black;
}

main.sobre .title h2 {
  position: absolute;
  padding: 10px 40px;
  background-color: white;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 400;
  font-style: italic;
}

/***** MAIN SOBRE ******/
main.sobre {
  display: flex;
  justify-content: center;
  align-items: center;
}

main.sobre div.w800 {
	max-width: 100%;
  width: 800px;
}

main.sobre div.w800 div.quadrado {
  width: 100%;
  height: 70vh;
  background-color: #ccc;
  border: 1px solid;
}

main.sobre div.w800 h2 {
  margin: 10px 0;
}

main.sobre div.w800 p {
  font-size: 17px;
  text-align: justify;
}

main.sobre div.w800 div.depoimentos {
  display: flex;
  margin: 30px 0;
}

main.sobre div.w800 div.depoimentos div.image {
	min-width: 200px;
	width: 100%;
  height: 30vh;
  border: 1px solid;
  background-color: #ccc;
}

main.sobre div.w800 div.depoimentos p {
  margin-left: 20px;
  font-size: 17px;
}

/***** FOOTER ******/
footer {
  background-color: #252525;
}

footer nav.center {
  display: flex;
  height: 130px;
}

footer nav.center .left ul {
  display: flex;
  padding: 0;
}

footer nav.center .left ul li {
  margin-right: 60px;
  list-style-type: none;
}

footer nav.center .left ul li a {
  text-decoration: none;
  text-transform: capitalize;
  font-size: 20px;
  color: white;
}

footer nav.center .left ul li a.corrente {
  color: red;
}

footer nav.center h2 {
  font-size: 20px;
  color: white;
}


/***** MEDIA SCREEN <= 550px ******/
@media screen and (max-width: 550px) {
	/* SOBRE -> MAIN DEPOIMENTOS */

	main.sobre div.w800 div.depoimentos{
		flex-direction: column;
	}
	
	main.sobre div.w800 div.depoimentos p{
		margin: 10px 0;
	}


}



/***** MEDIA SCREEN <= 600px ******/
@media screen and (max-width: 600px) {
  /* MEDIA SCREEN -> HEADER */
  header nav img.logo {
    height: 70px;
  }

  header nav img.btn-menu {
    display: flex;
    position: absolute;
    top: 45px;
    right: 20px;
    width: 35px;
    height: 35px;
  }

  header nav div.right ul {
    display: flex;
    background-color: white;
    position: absolute;
    right: 0px;
    flex-direction: column;
    width: 100%;
    z-index: 3;
    margin-top: 70px;
    padding: 10px 0;
    background-color: orange;
  }

  header nav div.right ul li {
    text-align: center;
    padding: 7px 0;
  }

  header nav div.right ul li a {
    font-size: 20px;
  }
}


	/***** MEDIA SCREEN <= 760px ******/
@media screen and (max-width: 760px) {
  /* SOBRE -> FOOTER*/
  footer nav.center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  footer nav.center .left ul {
    display: none;
  }
}